.jumbotron {
	border-bottom: 0.5px solid darkblue;
	border-radius: 0 !important;
	padding: 50px !important;
}
body {
	background-color: #FAEAFF !important;
}
.btn {
	width: 100%;
}
#profile-top {
	margin: 20px 0px 10px;
}
h1:hover, #hack-header:hover {
  text-decoration: none;
  text-shadow: 0.5px 0.5px 0.5px black;
}
a h2 {
	padding: 20px 20px 30px ;
	margin-bottom: 20px;
}
h3 {
	margin-bottom: 20px !important;
}
.prog-list-border {
	border: 1px solid lightblue;
	border-radius: 0.25rem;
	margin-top: 10px;
	padding: 25px 25px 10px 5px;
}
.prog-list-border h6 {
	margin-bottom: 30px;
}
footer {
	color: floralwhite;
	border-radius: 0;
	border-top: 1px solid darkblue;
	margin-top: 50px;
}
footer .row {
	padding: 40px 0px 40px;
}
.around-border {
	margin-top: 10px !important;
}
#top-button:hover {
	text-decoration: none;
}
#top-div {
		margin: 0px auto;
		width: 50%;
		border: 1px solid black;
		padding: 10px;
		margin-top: 50px;
}
.engineer {
	font-size: 40px;
}





@media (max-width: 1200px) {
	#profile-top {
		padding: 30px;
		font-size: 25px;
	}
	#hack-header {
		margin-bottom: 60px;
	}
	h1 {
		font-size: 47px !important;
	}
	h2 {
		font-size: 40px !important;
	}
	#hack-site-ref a {
		font-size: 25px;
	}
	li {
		font-size: 24px;
		padding: 0px 0px;
	}
	#top-div {
		margin: 0px auto;
		width: 50%;
		border: 1px solid black;
		padding: 10px;
		font-size: 30px;
		margin-top: 50px;
	}
	.prog-list-border h6 {
		font-size: 1.6em;
	}
	.prog-list-border {
		padding: 50px 80px;
	}
	.this-page {
		margin-bottom: 20px;
		padding: 25px 0px !important;
	}
	.mainc.container {
		min-width: 900px;
		padding: 30px 60px 60px !important;
	}
	footer .around-border, p {
		font-size: 20px;
	}
	footer h3 {
		font-size: 30px;
	}
	footer .container {
		min-width: 900px;
	}
}






#implem-list {
	background-color: #FFC6C6;
}
#io-list {
	background-color: #BBFF96;
}
#rec-list {
	background-color: #C0D6FF;
}
#implem-very-easy, #implem-easy, #io-very-easy, #io-easy, #rec-very-easy, #rec-easy {
	margin-bottom: 100px;
}